<%- include('layout/head.ejs')%>
<header class="header">
<%- include('layout/header.ejs')%>
<%- include('layout/nav.ejs')%>
</header>


<main class="main">
  <section class="about">
      <div class="container">
          <h2 class="about__headline"><span class="banner__headline--span">Про</span> 1B</h2>
          <p class="about__describe">1B це простий сайт, для ведення інформації підприємцю <span class="banner__headline--span">про своїх</span> клієнтів. </p>
          <div class="about__box">
              <div class="about__item">
                  <p class="about__item--describe">При регістрації підприємець зможе створити свою таблицю, 
                  з іменем своїх клієнтів, та вести їхню інформацію в таблицях своїх клієнтів. Також підприємець має змогу
                  надавати доступ до таблицям своїм клієнтам. </p>
              </div>
              <div class="about__item about__item--photo">
                  <img class="about__item--image" src="images/about-personal.png" alt="">
              </div>
          </div>
      </div>
  </section>
</main>
        
<%- include('layout/footer.ejs')%>