<div class="header__menu">
    <div class="container">
        <nav class="nav header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Text</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Text</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Text</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Text</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Text</a></li>
            </ul>
        </nav>
    </div>
</div>